*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: 'Aclonica', sans-serif;
}

main{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: blueviolet;
}

.text{
    
    text-align: center;
}

h1{
    color: #CA2E65;
    font-size: 2.4rem;
    margin-bottom: 48px;
}

.cards{
    border-top: 30px;
}

.profile-card{
    float: left;
    background-color: black;
    color: white;
    height: 80px;
    width: 30%;
    border: 20px cornflowerblue;
}

